In [ ]:

import pandas as pd
import numpy as np

In [63]:
month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
N = pd.read_csv('Nzone_data.csv', names='N', header=None)
df1 = pd.DataFrame(N)
df1['month'] = month
F = pd.read_csv('Fzone_data.csv', names='F', header=None)
df2 = pd.DataFrame(F)
df2['month'] = month
T = pd.read_csv('Tzone_data.csv', names='T', header=None)
df3 = pd.DataFrame(T)
df3['month'] = month

In [64]:
df1

          N month
0     0.900   Jan
1     1.915   Feb
2    13.458   Mar
3    58.532   Apr
4    90.369   May
5   138.026  June
6   177.100  July
7   258.468   Aug
8   206.389   Sep
9    59.836   Oct
10    7.593   Nov
11    2.759   Dec

In [75]:
total = pd.concat([df1,df2])

In [94]:
totalData = pd.merge_asof(df1,df2, df3 ,by='month')

KeyError:           T month
0    14.962   Jan
1    62.167   Feb
2   131.055   Mar
3   139.604   Apr
4   176.852   May
5   208.527  June
6   107.476  July
7    65.721   Aug
8   186.288   Sep
9   198.891   Oct
10   92.023   Nov
11   28.781   Dec

In [87]:
totalData

          N month        F        T
0     0.900   Jan      NaN   14.962
1       NaN   Jan    6.203   14.962
2     1.915   Feb      NaN   62.167
3       NaN   Feb   31.144   62.167
4    13.458   Mar      NaN  131.055
5       NaN   Mar   66.527  131.055
6    58.532   Apr      NaN  139.604
7       NaN   Apr  130.393  139.604
8    90.369   May      NaN  176.852
9       NaN   May  142.031  176.852
10  138.026  June      NaN  208.527
11      NaN  June  194.465  208.527
12  177.100  July      NaN  107.476
13      NaN  July  121.376  107.476
14  258.468   Aug      NaN   65.721
15      NaN   Aug  108.241   65.721
16  206.389   Sep      NaN  186.288
17      NaN   Sep  218.015  186.288
18   59.836   Oct      NaN  198.891
19      NaN   Oct  165.042  198.891
20    7.593   Nov      NaN   92.023
21      NaN   Nov   61.590   92.023
22    2.759   Dec      NaN   28.781
23      NaN   Dec   15.640   28.781

In [79]:
totalData.set_index('month')

             N        F        T
month
Jan      0.900      NaN   14.962
Jan        NaN    6.203   14.962
Feb      1.915      NaN   62.167
Feb        NaN   31.144   62.167
Mar     13.458      NaN  131.055
Mar        NaN   66.527  131.055
Apr     58.532      NaN  139.604
Apr        NaN  130.393  139.604
May     90.369      NaN  176.852
May        NaN  142.031  176.852
June   138.026      NaN  208.527
June       NaN  194.465  208.527
July   177.100      NaN  107.476
July       NaN  121.376  107.476
Aug    258.468      NaN   65.721
Aug        NaN  108.241   65.721
Sep    206.389      NaN  186.288
Sep        NaN  218.015  186.288
Oct     59.836      NaN  198.891
Oct        NaN  165.042  198.891
Nov      7.593      NaN   92.023
Nov        NaN   61.590   92.023
Dec      2.759      NaN   28.781
Dec        NaN   15.640   28.781

In [33]:
total_data = df1.join(df2,lsuffix='_month', rsuffix='_avg')

ValueError: columns overlap but no suffix specified: Index(['month'], dtype='object')

In [11]:
join

          N        F        T
0     0.900      NaN      NaN
1     1.915      NaN      NaN
2    13.458      NaN      NaN
3    58.532      NaN      NaN
4    90.369      NaN      NaN
5   138.026      NaN      NaN
6   177.100      NaN      NaN
7   258.468      NaN      NaN
8   206.389      NaN      NaN
9    59.836      NaN      NaN
10    7.593      NaN      NaN
11    2.759      NaN      NaN
0       NaN    6.203      NaN
1       NaN   31.144      NaN
2       NaN   66.527      NaN
3       NaN  130.393      NaN
4       NaN  142.031      NaN
5       NaN  194.465      NaN
6       NaN  121.376      NaN
7       NaN  108.241      NaN
8       NaN  218.015      NaN
9       NaN  165.042      NaN
10      NaN   61.590      NaN
11      NaN   15.640      NaN
0       NaN      NaN   14.962
1       NaN      NaN   62.167
2       NaN      NaN  131.055
3       NaN      NaN  139.604
4       NaN      NaN  176.852
5       NaN      NaN  208.527
6       NaN      NaN  107.476
7       NaN      NaN   65.721
8       NaN      NaN  186.288
9       NaN      NaN  198.891
10      NaN      NaN   92.023
11      NaN      NaN   28.781