In [1]:
import pandas as pd
import numpy as np

In [10]:
month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
N = pd.read_csv('Nzone_data.csv', names='N', header=None)
Nzone = pd.DataFrame(N)
Nzone['month'] = month
Nzone = pd.DataFrame(Nzone, columns=['N', 'month'])
F = pd.read_csv('Fzone_data.csv', names='F', header=None)
Fzone = pd.DataFrame(F)
Fzone['month'] = month
Fzone = pd.DataFrame(Fzone, columns=['F', 'month'])
T = pd.read_csv('Tzone_data.csv', names='T', header=None)
Tzone = pd.DataFrame(T)
Tzone['month'] = month
Fzone = pd.DataFrame(Fzone, columns=['F', 'month'])

In [11]:
Tzone.columns

Index(['T', 'month'], dtype='object')

In [22]:
df = pd.concat([Nzone,Fzone,Tzone], axis=1).set_index('month')

In [23]:
df

                             N           F           T
month
(Jan, Jan, Jan)       0.900000    6.202668   14.962335
(Feb, Feb, Feb)       1.914667   31.144003   62.167320
(Mar, Mar, Mar)      13.458333   66.527330  131.055340
(Apr, Apr, Apr)      58.531673  130.392650  139.603670
(May, May, May)      90.368660  142.030690  176.851620
(June, June, June)  138.025970  194.465000  208.527340
(July, July, July)  177.100330  121.375680  107.475660
(Aug, Aug, Aug)     258.467960  108.241000   65.721000
(Sep, Sep, Sep)     206.388990  218.014680  186.287660
(Oct, Oct, Oct)      59.835667  165.042000  198.891020
(Nov, Nov, Nov)       7.593334   61.589664   92.023020
(Dec, Dec, Dec)       2.759000   15.639668   28.780996

In [21]:
df.to_csv('test.csv')