In [ ]:

import pandas as pd
import numpy as np

In [15]:
import csv

c1 = []
c2 = []
with open('Nzone_data.csv', 'r') as f:
    reader = csv.reader(f, delimiter=',')
    for row in reader:
        c1.append(row[0])
        c2.append(row[1])

IndexError: list index out of range

In [13]:
colnames = ['month', 'avg_rain']
df1 = pd.read_csv('Nzone_data.csv', names=colnames, header=None)
df2 = pd.read_csv('Fzone_data.csv', names=colnames, header=None)
df3 = pd.read_csv('Tzone_data.csv', names=colnames, header=None)

In [10]:
df1

            month  avg_rain
0    1 0.90000015       NaN
1      2 1.914667       NaN
2     3 13.458333       NaN
3     4 58.531673       NaN
4      5 90.36866       NaN
5     6 138.02597       NaN
6     7 177.10033       NaN
7     8 258.46796       NaN
8     9 206.38899       NaN
9    10 59.835667       NaN
10   11 7.5933337       NaN
11       12 2.759       NaN